<div class="" >
  <div class="">
    <h2 class=""><%= @business.name %></h2>
  </div>

  <div class="">
    <p class= ""><%= @business.address %></p>
  </div>

   <div class="">
    <p class= ""><%= @business.category %></p>
  </div>


 </div>
