<div class="" >
  <div class="">
    <h2 class=""><%= @business.name %></h2>
  </div>

  <div class="">
    <p class= ""><%= @business.address %></p>
  </div>

  <div class="">
    <p class= ""><%= @business.category.category %></p>
  </div>

  <%= cl_image_tag(@business.photo.key,
      width: 400, height: 300, crop: :fill) %>

</div>
