// Import Google fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
// $body-font: "Work Sans", "Helvetica", "sans-serif";
// $headers-font: "Nunito", "Helvetica", "sans-serif";
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@300;400;700&display=swap');

// Define fonts for body and headers
$body-font: "Overpass";
$headers-font: "Overpass";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

h1, h2, p, a {
  font-family: "Overpass";
  color: $white;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 32px;
}

p, a {
  font-size: 20px;
}

.bold {
  font-weight: 700;
}

.light {
  font-weight: 200;
}

.category-label {
  background-color: $white;
  border-radius:1rem;
  padding:.1rem 1rem;
  p {
    color: $black;
    font-size: 1rem;
  }
}

.text-shadow {
  text-shadow: 1px 1px 2px $black;
}
