// Specific CSS for your home-page

.fixed-background {
  background-image: asset-url("background-image.png");
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
  background-color: #000;
  background-size: cover;
}

.page {
  padding: 10px;
  height: 100vh;
  width: 100vw;
  color: white;
  font-family: $body-font;
  position: relative;
}

.first-part {
  //margin-top: 60px;
  margin-left: 36px;
  h1 {
    font-size: 65px;
  }
}

a.home-page-link {
  font-size: 50px;
  text-decoration: underline;
}

.second-part {
  position: absolute;
  bottom: 70px;
  right: 50px;
  text-align: right;
  li {
    margin-bottom: 20px;
    list-style: none;
    font-size: 50px;
    a {
      color: white;
      text-decoration: underline;
    }
  }
}

.third-part {
  width: 250px;
  margin-top: -17px;
  margin-left: 36px;
  h2 {
    font-size: 40px;
  }
}

.fourth-part {
  position: absolute;
  //bottom: 0px;
  margin-top: 40px;
  right: 30px;
  text-align: right;
  h3 {
    font-size: 40px;
  }
}

.fifth-part {
  margin-top: 220px;
  margin-left: 36px;
  width: 200px;
  h2 {
    font-size: 40px;
  }
}

.sixth-part {
  text-align: right;
  margin-top: 320px;
  h2 {
    font-size: 40px;
  }
}

.seventh-part {
  text-align: left;
  margin-top: 90px;
  margin-left: 36px;
  h2 {
    font-size: 40px;
  }
}
