.mapboxgl-popup > .mapboxgl-popup-content {
  color: black;
  width: 152px;
  padding: 0;
  margin-right: -100px;
}

.navbarDropdown {
  z-index: 4;
}

.content-info-window {
  padding: .75rem .25rem;
  h3 {
    color: $black;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
    text-decoration: underline;
    margin-bottom: .25rem;
  }
  p {
    font-weight: normal;
    font-size: 0.7rem;
    line-height: .75rem;

  }
}

.content-info-window:focus {
  outline: none !important;
}

.card-info-window img {
  height: 80px;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  background-size: contain;
  margin: 0px;
}

.all-content-link {
  border: none;
}

.content-info-window-card-counter {
  color: $black;
}

.content-info-window-card-address {
  text-align: right;
  color: rgba(0, 0, 0, 0.4);
}

.mapboxgl-popup-close-button {
  color: white;
}
