//.message_container {
//  margin-top: 20px;
//}

.message_container {
  margin-bottom: 30px;
  margin-left: 10px;
}

.author {
  display: flex;
  justify-content: space-between;
}

.post-avatar {
  display: flex;
}

.author-details {
  display: flex;
  justify-content: center;
  //text-decoration: underline;
  flex-direction: column;
  margin-left: 1.25rem;
}

.business-name-font {
  //display: flex;
  //text-decoration: underline;
  color: white;
  p {
    a {
      font-size: 28px;
    }
  }
}

.business-content-message {
  //display: flex;
  color: grey;
  margin-left: 5px;
}
.business-address {
  display: flex;
  //justify-content: center;
  font-size: 5px;
  border-bottom: none;
  p {
    text-decoration: none;
    font-size: 16px;
  }
}

.business-card-image-post {
  margin-top: 0.8rem;
}

img.avatar-business-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.post-message {
  //display: flex;
  color: white;
  margin-top: 10px;
}

.post-content-message {
  margin-left: 10px;
  p {
    color: grey;
  }
}

:root {
  --red: rgb(209, 3, 3);
  --white: #fff;
  --black: #000;
}
button.btn.btn-like {
  padding: 0;
}
.like-button {
  margin-top: 10px;
  margin-bottom: 10px;
  .btn {
    font-size: 25px;
    cursor: pointer;
  }
  .btn-like {
    color: black;
    text-shadow: $white solid 1px;
  }
  button:focus {
    box-shadow: none;
  }
}
//.btn {
// margin-top: 10px;
// margin-bottom: 10px;
// width: 50px;
// height: 20px;
// outline: 0;
// color: #000;
// cursor: pointer;
// position: relative;
// display: flex;
// justify-content: space-between;
//}

//.btn-like {
// padding: 1.5rem 1.5rem 1.5rem 6rem;
// font-size: 25px;
// color: rgb(255, 255, 255);
// margin-bottom: 20px;
// margin-top: -5px;
// margin-left: -5px;
//}
.btn-like.liked {
  background: var(--red);
  border-color: var(--red);
}
/*-- Button Icon -- */
.btn-icon {
  // display: inline-block;
  width: 14px;
  height: 14px;
  // position: absolute;
}
.btn:hover .btn-icon {
  color: var(--red);
}
.btn.liked:hover .btn-icon {
  color: var(--black);
}
.liked .btn--icon-default {
  transform: rotate(-90deg);
}
.btn:not(.liked).btn--icon-liked {
  transform: rotate(-90deg);
}
.liked .btn--icon-default,
.btn--icon-liked {
  opacity: 0;
  color: #fff;
  // position: absolute;
}
.btn--icon-default,
.liked .btn--icon-liked {
  left: 0.5rem;
}
/*-- Button Content -- */

// https://javascript.plainenglish.io/build-a-custom-like-button-with-html-css-and-vanilla-javascript-b81fa4b00aad
