<div class='navbar d-inline-flex justify-content-end'>
  <div class='oy-logo'>
    <div class="nav-item dropdown">
      <img id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src= <%= image_path("logo-menu.svg")%>  alt="logo Oy">
      <div class="dropdown-menu dropdown-menu-end move-left" aria-labelledby="navbarDropdown">
        <%= link_to 'My wallet', cards_path, class:"dropdown-item wallet" %>
        <%= link_to 'Map', businesses_path, class:"dropdown-item map" %>
        <a class="dropdown-item feed" href="#">Feed</a>
        <%= link_to new_business_path, class:"dropdown-item add-a-business" do %>
          <h2 class="font-color-black">Add a <br> business</h2>
        <% end %>
      </div>
    </div>
  </div>
</div>
