<div class='navbar'>
  <div class='oy-logo'>
    <li class="nav-item dropdown">
      <img id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src= <%= image_path("logo-menu.svg")%>  alt="logo Oy">
      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href=" <% link_to cards_path %> ">My wallet</a>
        <a class="dropdown-item" href=" <% link_to businesses_path %> ">Map</a>
        <a class="dropdown-item" href="#">Feed</a>
        <a class="dropdown-item" href=" <% link_to new_business_path %>">Add a business</a>
      </div>
    </li>
  </div>
</div>
