<div class="sidebar d-flex align-items-center">
  <ul class="sidebar-nav d-flex flex-column justify-content-center">
    <li class="sidebar-nav-location">
      <p class="sidebar-nav-text light" <%= 'id=active'  if controller_name == "cards" && action_name == "index" %>>wallet</p>
    </li>
    <li class="sidebar-nav-location">
      <p class="sidebar-nav-text light" <%= 'id=active'  if controller_name == "businesses" && action_name == "index" %>>map</p>
    </li>
    <li class="sidebar-nav-location">
      <p class="sidebar-nav-text light" <%= 'id=active'  if controller_name == "posts" && action_name == "index" %>>feed</p>
    </li>
  </ul>
</div>
