<div class='fixed-background'>
</div>

<div class='oy-logo'>
</div>



<div class='page'>
  <div class='first-part'>
    <h1>Buy local, <br>
        Meet people, <br>
        Smile.</h1>
  </div>

  <div class='second-part'>
      <h2>
        <li>wallet</li>
        <li>map</li>
        <li>favs</li>
      </h2>
  </div>
</div>


<div class='page'>
  <div class='third-part'>
    <h2>Oy is an app <br> willing to bring small <br> business’s owners <br> and clients closer. <br>
    Go outside, <br> and try the small <br> coffee you always said you would.
    </h2>
  </div>

  <div class='fourth-part'>
    <h3>Being loyal <br> has never <br> been <br> that easy.</h3>
  </div>
</div>

<div class='page'>
  <div class='fifth-part'>
    <h2>Oy is a 4 learning-developers team who love to eat and exchange with the shopkeepers of the neighborhood. We thought you would like it too.</h2>
  </div>
</div>

<div class='page'>
  <div class='sixth-part'>
    <h2>
      Go to your wallet, <br> add a fidelity card,<br> and never miss <br> an offer <br> again.Thanks to Oy, <br> you can also <br> discover treasures <br> in your area, <br> wherever you are.
    </h2>
  </div>

  <div class='seventh-part'>
    <h2>
      One issue : <br>
      we always forget <br> our fidelity cards <br> at home.
    </h2>
  </div>
</div>
