<div class='fixed-background'>
</div>

<div class='page'>
  <div>
    <h1>Buy local</h1>
  </div>

  <div>
    <h3>blbalbalba</h3>
  </div>
</div>


<div class='page'>
  <div>
    <h2>2 eme blablablaba</h2>
  </div>

  <div>
    <h2>super test c'est trop cool</h2>
  </div>
</div>
