<div class='fixed-background'>
</div>

<div class='oy-logo'>
</div>



<div class='page'>
  <div class='first-part'>
    <h1>Buy local, <br>
        Meet people, <br>
        Smile.</h1>
  </div>

  <div class='second-part'>
      <h2>
        <li>wallet</li>
        <li>map</li>
        <li>favs</li>
      </h2>
  </div>
</div>


<div class='page'>
  <div class='third-part'>
    <h2>Oy is an app <br> willing to bring small <br> business’s owners <br> and clients closer. <br>
    Go outside, <br> and try the small <br> coffee you always said you would.
    </h2>
  </div>

  <div class='fourth-part'>
    <h3>Being loyal has never been <br> that easy.</h3>
  </div>
</div>
