<ul>
  <h1><%= @posts.name %></h1>
  <div id="messages" data-chatroom-id="<%=@chatroom.id %>">
    <% @posts.each do |post| %>
      <%= render "posts/post", post: post %>
    <% end %>
  </div>
</ul>
