.oy-logo {
  width: 3rem;
  height: 6rem;
}

.navbar {
  height: 7rem;
  width: 100%;
}

#navbarDropdown {
  height: 6rem;
  width: 3rem;
}

.navigation-menu {
  position: fixed;
  top: 6rem;
  // margin-right: 2rem;
  // margin-left: 2rem;
  // width: 100%;
  margin-left: 2rem;
}

@media (min-width: 375px) {
  .navigation-menu {
    // min-width: 340px;
    width: 87%;
  }
}

@media (min-width: 576px) {
  .navigation-menu {
    // min-width: 540px;
    width: 91%;
  }
}
@media (min-width: 768px) {
  .navigation-menu {
    // min-width: 720px;
    width: 93%;
  }
}
@media (min-width: 1200px) {
  .navigation-menu {
    width: 96%;
  }
}


.dropdown-menu {
  background-color: white;
  // padding: 15px;
  // height: 58rem;
  a {
    font-weight: normal;
    font-size: 2.5rem;
  }
}

.dropdown-item {
  line-height: 5rem;
  text-decoration: underline;
  padding: 0.25rem 0.5rem;
}
.right {
  text-align: right;
}

// .font-color-black {
//   color: black;
//   line-height: 9rem;
//   font-size: 5rem;
//   text-decoration: underline;
//   font-weight: normal;
// }

.navbar-business-link {
  margin-right: 1rem;
  a {
    text-decoration: solid;
  }
}
